.header {
  width: calc(100vw - 80px);
}

.choose {
  width: 606px;
  margin: auto;
  margin-top: 31px;
}
.logo {
  width: 131px;
  height: 25px;
  margin-top: 40px;
  left: 122px;
  position: absolute;
}