.user {
  // text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 222px;
  background-color: white;
  padding: 0;

  color: rgba(109, 101, 101, 1);
  font-family: "Coolvetica";
  font-weight: 400;
  font-size: 33px;
  line-height: 100%;
  letter-spacing: 0%;


  p {
    text-align: center;
    padding-top: 1.35rem;
  }
}

img {
  height: 50px;
  width: 203px;
}

.img2 {
  left: 90px;
  position: relative;
}

.img3 {
  left: 180px;
  position: relative;
}

.blocks {
  font-family: Fb Shapinger Heb;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: center;

  color: white;
  width: 143px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  top: 25px;
  left: 32px;
  position: fixed;
  border-radius: 10px;
  background: rgba(109, 101, 101, 1);

}
