.top1 {

  width: 1245px;
  height: 300px;
  top: 149px;
  margin: auto;
  margin-top: 60px;


}

.top2 {
  margin: auto;
  width: 1245px;
  height: 609px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 36px;
}