<div class="sidebar">
<div style="height: 400px;"></div>
  <div class="icons">
    <button class="icon-button">
      <img src="../../../../../public/search.png">

    </button>
    <button class="icon-button">
      <img src="../../../../../public/delete.png">
    </button>
  </div>

  <div class="bottom-icons">
    <button class="icon-button purple">
      <img src="../../../../../public/user.png">

    </button>
    <button class="icon-button blue">
      <img src="../../../../../public/settings.png">

    </button>
  </div>
</div>