.rectangle {
  background-color: rgba(247, 245, 245, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  // font-family: Fb Shapinger En;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -4%;
  color: rgba(12, 57, 223, 1);

}

.pointer {
  width: 130px;
  height: 50px;
  bottom: 25px;
  right: 18px;
  position: fixed;
  border-radius: 58px;
  background: linear-gradient(100.86deg, #0C39DF 2.15%, #B232F9 98.91%);
  border: none;
  color: white;
}

.div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* רווח של 2 ס"מ בין המלבנים */
  padding: 40px;
}