.rectangle {
  background-color: rgba(247, 245, 245, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  // font-family: Fb Shapinger En;
  font-weight: 400;
  font-size: 12px;
  line-height: 8px;
  letter-spacing: -4%;
  background-color: rgba(12, 57, 223, 1);
  color: white;
  flex-direction: column;
  cursor: pointer;

}

.div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* רווח של 2 ס"מ בין המלבנים */
  padding: 40px;
  width: 1245px;
  margin: auto;
}